#Martin{
    text-align: center;
    background: radial-gradient(circle, rgb(2, 77, 45),rgb(0, 255, 89), #001effef, rgb(149, 0, 255),#ff0000f1);
    color: rgb(246, 255, 0);
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.5);
}
h2{
    color: rgb(255, 0, 0);
}
h3{
    Color: #b300ff
}
#Line_number_1{
    color: radial-gradient(#001effef, #ff0000f1);
}
#test{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center; 
    background: radial-gradient(rgb(0, 0, 0), rgb(255, 0, 0), #0fe41d, #0d00ff);
    color: rgb(255, 255, 255);
    padding: 100px 12px; 
    text-decoration: none;
    border-radius: 30px;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 1);
    font-size: 15px;
}
#copyright{
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#Home {
    position: fixed; /* Fixes the button position relative to the viewport */
    bottom: 20px; /* Distance from the bottom edge of the viewport */
    right: 20px; /* Distance from the right edge of the viewport */
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    z-index: 1000; /* Ensures the button is above other content */
}
/* Style for the joke page */
#jokes {
    position: fixed;
    bottom: 20px;
    right: 265px;
    text-align: center; 
    background: radial-gradient(rgb(0, 30, 255), rgb(255, 0, 0), #88e40f, #3c4e00);
    color: rgb(255, 255, 255);
    padding: 100px 28px; 
    text-decoration: none;
    border-radius: 30px;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 1);
    font-size: 15px;
}
#newJokeButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0040ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newJokeButton:hover {
    background-color: #ff0000;
}

#circles{
    position: fixed;
    bottom: 255px;
    right: 20px;
    text-align: center; 
    background: radial-gradient(rgb(0, 0, 0), rgb(208, 0, 255), #0fe41d, #0d00ff);
    color: rgb(255, 255, 255);
    padding: 60px 80px; 
    text-decoration: none;
    border-radius: 30px;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 1);
    font-size: 15px;
}
#caterpiller {
    position: fixed;
    bottom: 415px;
    right: 20px;
    text-align: center; 
    background: radial-gradient(rgb(0, 0, 0), rgb(255, 0, 0), #e0e40f, #0d00ff);
    color: rgb(255, 255, 255);
    padding: 60px 71px; 
    text-decoration: none;
    border-radius: 30px;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 1);
    font-size: 15px;
}